pkgbase = vot-cli-live
	pkgdesc = VOT-CLI with Yandex live voices support
	pkgver = 1.6.2
	pkgrel = 1
	url = https://github.com/fantomcheg/vot-cli-live
	arch = any
	license = Unlicense
	makedepends = npm
	makedepends = git
	depends = nodejs
	depends = sh
	provides = vot-cli
	conflicts = vot-cli
	options = !debug
	source = vot-cli-live::git+https://github.com/fantomcheg/vot-cli-live
	b2sums = SKIP

pkgname = vot-cli-live
