pkgbase = libcurl-impersonate-bin
	pkgdesc = Series of patches that make curl requests look like Chrome
	pkgver = 1.2.0
	pkgrel = 2
	url = https://github.com/lexiforest/curl-impersonate
	arch = aarch64
	arch = armv7h
	arch = i686
	arch = x86_64
	license = MIT
	depends = glibc
	provides = libcurl-impersonate-chrome
	provides = libcurl-impersonate
	conflicts = curl-impersonate
	options = !debug
	source = https://raw.githubusercontent.com/lexiforest/curl-impersonate/master/LICENSE
	sha256sums = 7d0c5f4b5b4c27299ad6759798772b866b3559ac5edb23845f36328eb734376d
	source_aarch64 = https://github.com/lexiforest/curl-impersonate/releases/download/v1.2.0/libcurl-impersonate-v1.2.0.aarch64-linux-gnu.tar.gz
	sha256sums_aarch64 = 9409c19a8d7a1e88763b2c1281422d082fde21fae3b6615418995b61849fc753
	source_armv7h = https://github.com/lexiforest/curl-impersonate/releases/download/v1.2.0/libcurl-impersonate-v1.2.0.arm-linux-gnueabihf.tar.gz
	sha256sums_armv7h = dabfb1b572c6fe37f32332a019e1048a5addb91a1a75ccdc4107ebeb10fc0c48
	source_i686 = https://github.com/lexiforest/curl-impersonate/releases/download/v1.2.0/libcurl-impersonate-v1.2.0.i386-linux-gnu.tar.gz
	sha256sums_i686 = 6ac57d5ed305eee2887aa335216346e116c3fd3915a93a2a55b63efe9c6e385b
	source_x86_64 = https://github.com/lexiforest/curl-impersonate/releases/download/v1.2.0/libcurl-impersonate-v1.2.0.x86_64-linux-gnu.tar.gz
	sha256sums_x86_64 = f1aec526f2c28c816c261c22b9ad29c0eab39164a3e8e2b3f2c96d3a1b67b8dd

pkgname = libcurl-impersonate-bin
