[submodule "gsconnect"]
  path = gsconnect
  url = ssh://aur@aur.archlinux.org/gsconnect.git
[submodule "wlr-which-key"]
  path = wlr-which-key
  url = ssh://aur@aur.archlinux.org/wlr-which-key.git
[submodule "rdrview"]
  path = rdrview
  url = ssh://aur@aur.archlinux.org/rdrview.git
[submodule "cassette-git"]
  path = cassette-git
  url = ssh://aur@aur.archlinux.org/cassette-git.git
[submodule "cassette-bin"]
  path = cassette-bin
  url = ssh://aur@aur.archlinux.org/cassette-bin.git
[submodule "xwayland-run"]
  path = xwayland-run
  url = https://aur.archlinux.org/xwayland-run.git
[submodule "cassette"]
  path = cassette
  url = ssh://aur@aur.archlinux.org/cassette.git
[submodule "byedpi-bin"]
  path = byedpi-bin
  url = ssh://aur@aur.archlinux.org/byedpi-bin.git
[submodule "byedpi"]
  path = byedpi
  url = ssh://aur@aur.archlinux.org/byedpi.git
[submodule "improve-imgsli"]
	path = improve-imgsli
	url = ssh://aur@aur.archlinux.org/improve-imgsli.git
[submodule "maxx-desktop"]
	path = maxx-desktop
	url = ssh://aur@aur.archlinux.org/maxx-desktop.git
[submodule "3x-ui-bin"]
	path = 3x-ui-bin
	url = ssh://aur@aur.archlinux.org/3x-ui-bin.git
[submodule "3x-ui"]
	path = 3x-ui
	url = ssh://aur@aur.archlinux.org/3x-ui.git
[submodule "s-ui"]
	path = s-ui
	url = ssh://aur@aur.archlinux.org/s-ui.git
[submodule "3x-ui-xray-core"]
	path = 3x-ui-xray-core
	url = ssh://aur@aur.archlinux.org/3x-ui-xray-core.git
[submodule "marzban"]
	path = marzban
	url = ssh://aur@aur.archlinux.org/marzban.git
[submodule "vot-cli-live"]
	path = vot-cli-live
	url = ssh://aur@aur.archlinux.org/vot-cli-live.git
[submodule "go-mmproxy"]
	path = go-mmproxy
	url = ssh://aur@aur.archlinux.org/go-mmproxy.git
[submodule "chawan-git"]
	path = chawan-git
	url = ssh://aur@aur.archlinux.org/chawan-git.git
[submodule "python-curl-cffi"]
	path = python-curl-cffi
	url = ssh://aur@aur.archlinux.org/python-curl-cffi.git
