[submodule "gcad3d-bin"]
  path = gcad3d-bin
  url = ssh://aur@aur.archlinux.org/gcad3d-bin.git
[submodule "gsconnect"]
  path = gsconnect
  url = ssh://aur@aur.archlinux.org/gsconnect.git
[submodule "gsconnect-git"]
  path = gsconnect-git
  url = ssh://aur@aur.archlinux.org/gsconnect-git.git
[submodule "gvc-git"]
  path = gvc-git
  url = ssh://aur@aur.archlinux.org/gvc-git.git
[submodule "linux-ck-autobuild"]
  path = linux-ck-autobuild
  url = ssh://aur@aur.archlinux.org/linux-ck-autobuild.git
[submodule "scu-git"]
  path = scu-git
  url = ssh://aur@aur.archlinux.org/scu-git.git
[submodule "wireguard-ui"]
  path = wireguard-ui
  url = ssh://aur@aur.archlinux.org/wireguard-ui.git
[submodule "wireguard-ui-bin"]
  path = wireguard-ui-bin
  url = ssh://aur@aur.archlinux.org/wireguard-ui-bin.git
[submodule "wl-gears-git"]
  path = wl-gears-git
  url = ssh://aur@aur.archlinux.org/wl-gears-git.git
[submodule "scu-bin"]
  path = scu-bin
  url = ssh://aur@aur.archlinux.org/scu-bin.git
[submodule "scu"]
  path = scu
  url = ssh://aur@aur.archlinux.org/scu.git
[submodule "onagre"]
  path = onagre
  url = ssh://aur@aur.archlinux.org/onagre.git
[submodule "wlr-which-key"]
  path = wlr-which-key
  url = ssh://aur@aur.archlinux.org/wlr-which-key.git
[submodule "chawan-git"]
  path = chawan-git
  url = ssh://aur@aur.archlinux.org/chawan-git.git
[submodule "rdrview"]
  path = rdrview
  url = ssh://aur@aur.archlinux.org/rdrview.git
[submodule "xwayland-satellite"]
  path = xwayland-satellite
  url = ssh://aur@aur.archlinux.org/xwayland-satellite.git
[submodule "cassette-git"]
  path = cassette-git
  url = ssh://aur@aur.archlinux.org/cassette-git.git
[submodule "cassette-bin"]
	path = cassette-bin
	url = ssh://aur@aur.archlinux.org/cassette-bin.git
[submodule "flatpak-ext"]
	path = flatpak-ext
	url = ssh://aur@aur.archlinux.org/flatpak-ext.git
[submodule "flatpak-ext-git"]
	path = flatpak-ext-git
	url = ssh://aur@aur.archlinux.org/flatpak-ext-git.git
[submodule "xwayland-run"]
	path = xwayland-run
	url = https://aur.archlinux.org/xwayland-run.git
[submodule "cassette"]
	path = cassette
	url = ssh://aur@aur.archlinux.org/cassette.git
