pkgbase = rudesktop-bin
	pkgdesc = Full-featured software for remote access and device configuration management
	pkgver = 2.6.1146
	pkgrel = 1
	url = https://rudesktop.ru
	install = rudesktop.install
	arch = x86_64
	license = Unlicense
	depends = alsa-lib
	depends = cairo
	depends = ca-certificates
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libpulse
	depends = libx11
	depends = libxcb
	depends = libxfixes
	depends = libxtst
	depends = pango
	depends = python
	depends = python-six
	depends = sudo
	depends = util-linux-libs
	depends = xdg-utils
	provides = rudesktop
	conflicts = rudesktop
	options = !debug
	source = rudesktop-2.6.1146.deb::https://rudesktop.ru/download/rudesktop-amd64.deb
	b2sums = 6f92d4b608ad5b3ee0d21c60a464190001617ec8875c589c0189832ce1d57f6362816110ce595ebc553f058de599dfa3c67fcf70c350f179223af577aed73b08

pkgname = rudesktop-bin
