pkgbase = python-curl-cffi
	pkgdesc = Python binding for curl-impersonate via CFFI
	pkgver = 0.7.1
	pkgrel = 3
	url = https://github.com/lexiforest/curl_cffi
	arch = x86_64
	license = MIT
	makedepends = gcc13
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = glibc
	depends = libcurl-impersonate-chrome
	depends = python
	depends = python-cffi
	depends = python-certifi
	depends = python-gevent
	depends = python-eventlet
	options = !debug
	source = https://github.com/lexiforest/curl_cffi/archive/v0.7.1/python-curl-cffi-0.7.1.tar.gz
	b2sums = 0f03df8cf839084abbe115d559050daa4a0f463e40bf50d032152bd245d6e3ab72f09a11d2ef6c13c9348627421fc81a377733c476c366ba135e98f79419c91d

pkgname = python-curl-cffi
