pkgbase = python-curl-cffi
	pkgdesc = Python binding for curl-impersonate via CFFI
	pkgver = 0.7.1
	pkgrel = 2
	url = https://github.com/yifeikong/curl_cffi
	arch = x86_64
	license = MIT
	makedepends = gcc13
	makedepends = libcurl-impersonate-chrome
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = glibc
	depends = python
	depends = python-cffi
	depends = python-certifi
	depends = python-gevent
	depends = python-eventlet
	options = !debug
	source = https://files.pythonhosted.org/packages/source/c/curl_cffi/curl_cffi-0.7.1.tar.gz
	b2sums = 5481d2c812583c34ac8eae8d4931281e01de2b2b4c5ac51d23ac3b3548e0b00b36224e53cd3b720c61d52c9bc4cd094c081c0a4729212134bed702168061daae

pkgname = python-curl-cffi
